<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Search</ion-title>
  </ion-navbar>

  <ion-toolbar color="light">

    <ion-segment>
      <ion-segment-button value="Title">
        Title
      </ion-segment-button>
      <ion-segment-button value="Author">
        Author
      </ion-segment-button>
    </ion-segment>
   
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row>
	<ion-col width-90>
	<ion-searchbar color="primary" [(ngModel)]=searchInput (ionInput)="getItems(searchInput)" placeholder="Search"  showCancelButton="true" (ionCancel)="goBackToCategories()"> 
	</ion-searchbar>
	</ion-col>
	<ion-col width-10>
		<!--<button ion-button icon-only >-->
	<ion-icon class="searchFilter" name="options" (click)=presentPopover($event)></ion-icon>
	<!--</button>-->
	</ion-col>
	</ion-row>
 <!--<h2 class="searchResultsTitle" >Search Results</h2>-->


  <!--<ion-card class="detailViewPage" *ngFor='let b of book'>
    <ion-row class="bookDiv">
      <ion-col width-33>
        <img class="img-thumbnail bookImg" src="{{b.image}}" alt="book Image">
      </ion-col>
      <ion-col width-67 class="rightAlign">

        <span class="bookTitle">{{b.title}}</span><br>
        <span class="bookAuthor">{{b.authors}}<br></span><br>
        <span class="bookPublisher">{{b.publishers}}<br></span>
<div class="button-clicked" [style.background-color]="getStyle()">
      <button class="heart-button" (click)="showStyle = !showStyle;"><ion-icon name="heart-outline"></ion-icon></button>
       </div> 
      </ion-col>
    </ion-row>
</ion-card>-->

  <ion-card class="detailViewPage" *ngFor='let b of book'>
<ion-list>
    
      <ion-item-sliding #item>

        <ion-item>
          <ion-row class="bookDiv">
          <ion-col width-33>
            <img class="img-thumbnail bookImg" src="{{b.image}}" alt="book Image">
          </ion-col>
          <ion-col width-67 class="rightAlign">

            <div class="bookTitle">Name: {{b.title}}<br></div><br>
            <div class="bookAuthor">Author: {{b.authors}}<br></div><br>
            <div class="bookPublisher">Publisher: {{b.publisher}}<br></div>
       <!--<span class="heart-button"><button ng-click=""><ion-icon name="heart-outline"></ion-icon></button></span>-->
        <div class="button-clicked" [style.background-color]="getStyle()">
      <button class="heart-button" (click)="showStyle = !showStyle;"><ion-icon name="heart-outline"></ion-icon></button>
       </div>
   
          </ion-col>
           </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button (click)="request()">Request Book</button>
          <!--<button ion-button color="danger" (click)="share(item)">Share</button>-->
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button (click)="cancelRequest()">Cancel Request</button>
        </ion-item-options>
      </ion-item-sliding>
   
</ion-list>

  </ion-card>



  </ion-content>